body {
  display: flex;
  flex-direction: column;
  background-color: rgba(29, 3, 3, 0.337);
  }
  main {
    display: flex;
    flex-direction: row;
    flex: auto;
  }
  article {
    flex: 2cm;
    overflow-y: auto;
  }
  aside {
    flex: 1cm;
    overflow-y: auto;
  }
  p {
    color: aqua;
    background-color: rgb(238, 130, 238);
  }
  
  